# Dependencias
node_modules

# Variables de entorno
.env
.env.*
!.env.example

# Compilación
dist/
build/
*.tsbuildinfo

# Frontend build (Vite)
olt-dashboard-frontend/dist/

# Logs
*.log
pnpm-debug.log*

# Archivos del Sistema / IDE
.DS_Store
.vscode/
.idea/
