# Dependencias
node_modules/
dist/
olt-dashboard-frontend/dist/

# Variables de entorno
.env
.env.production
olt-dashboard-frontend/.env.production

# Compilación
dist/
build/
*.tsbuildinfo

# Archivos pesados o temporales
uploads/
*.xlsx
*.sql
respaldos/
*.zip

# Prisma binarios
src/generated/

# Logs
*.log
pnpm-debug.log*

# Archivos del Sistema / IDE
.DS_Store
.vscode/
.idea/
